<div id="page_nav">
    {{if .IsHasPrev}}
        <a href="/getPageBooksByPrice?min={{.MinPrice}}&max={{.MaxPrice}}">首页</a>
        <a href="/getPageBooksByPrice?pageNo={{.GetPrevPageNo}}&min={{.MinPrice}}&max={{.MaxPrice}}">上一页</a>
    {{end}}
    当前是第{{.PageNo}}页，共{{.TotalPageNo}}页，共{{.TotalRecord}}条记录
    {{if .IsHasNext}}
        <a href="/getPageBooksByPrice?pageNo={{.GetNextPageNo}}&min={{.MinPrice}}&max={{.MaxPrice}}">下一页</a>
        <a href="/getPageBooksByPrice?pageNo={{.TotalPageNo}}&min={{.MinPrice}}&max={{.MaxPrice}}">末页</a>
    {{end}}
    到第<input value="{{.PageNo}}" name="pn" id="pn_input"/>页
    <input type="button" value="确定" id="sub">
    <script>
        //给确定按钮绑定单击事件
        $("#sub").click(function(){
            //获取输入的页码
            var pageNo = $("#pn_input").val();
            location = "/getPageBooksByPrice?pageNo="+pageNo+"&min={{.MinPrice}}&max={{.MaxPrice}}"
        });
    </script>
</div>
