[Unit]
Description=Boot Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=100000
ExecStart=/usr/local/bin/boot --config /etc/boot/config.yml runserver

[Install]
WantedBy=multi-user.target