[Unit]
Description=Starter Service
After=network.target

[Service]
Type=simple
User=nobody
Restart=on-failure
RestartSec=5s
LimitCORE=infinity
LimitNOFILE=100000
LimitNPROC=100000
ExecStart=/usr/local/bin/starter --config /etc/starter/config.yml runserver

[Install]
WantedBy=multi-user.target